body {
    background-color: #222831;
}

hr {
    background-color: #eeeeee;
    border-style: none;
    height: 2px;
    width: auto;
}

h1{
    color: #ffd369;
}

h3{
    color: #ffd369;
}

td{
    color: #393e46;
}

li{
    color: #393e46;
}