body {
    background-color: #eaeaea;
}

hr {
    background-color: #252a34;
    border-style: none;
    height: 2px;
    width: auto;
}

h1{
    color: #ff2e63;
}

h3{
    color: #ff2e63;
}

td{
    color: #252a34;
}

li{
    color: #252a34;
}